@page "/results/details/{ResultId:int}"

@using Quizler.Web.Shared.Models.Results
@using Quizler.Web.Shared.Models.Questions

@if (Result == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="alert alert-success" role="alert">
        <div class="justify-content-center">
            <p><strong>Quiz "@Result.Quiz.Name" copleted with @Result.Points of Max @Result.MaxPoints</strong></p>
        </div>
    </div>

    foreach (var question in Questions)
    {
        @question.Text

        foreach (var answer in question.Answers)
        {
            if (answer.IsSelected && answer.IsCorrect)
            {
                style = "success";
            }
            else if (answer.IsSelected && answer.IsCorrect == false)
            {
                style = "danger";
            }
            else if (answer.IsCorrect)
            {
                style = "success";
            }
            else
            {
                style = "primary";
            }

            <div class="alert alert-@style" role="alert">
                @answer.Text
            </div>
        }
    }
}


@code {
    [Parameter]
    public int ResultId { get; set; }

    public List<QuestionsResultDetails> Questions { get; set; }

    Quizler.Web.Shared.Models.Answers.AnswerResponse SelectedAnswer = new Web.Shared.Models.Answers.AnswerResponse();

    string style = String.Empty;

    public ResultDetailsResponse Result { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Result = await this.HttpClient.GetJsonAsync<ResultDetailsResponse>($"results/{ResultId}");
        Questions = Result.Quiz.Questions;

        Console.WriteLine(Result.SelectedAnswers.Count);
        Console.WriteLine(Questions.Count);

        for (int question = 0; question < Questions.Count; question++)
        {
            SelectedAnswer = Result.SelectedAnswers[question].Answer;

            for (int answer = 0; answer < Questions[question].Answers.Count; answer++)
            {
                if (Questions[question].Answers[answer].Text == SelectedAnswer.Text)
                {
                    Questions[question].Answers[answer].IsSelected = true;
                }
            }
        }
    }
}
